<div class="container">
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div>
        <h2>Login</h2>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <br/>
        <label for="username">User name</label>
        <input type="text" id="username" name="user" ngModel placeholder="User Name" required autofocus>
        <br/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel placeholder="Password" required>
        <br/>
        <label for="newUser">I'm a new user</label>
        <input type="checkbox" class="checkbox" [(ngModel)]="newUser" [ngModelOptions]="{standalone: true}" id="newUser" name="newUser">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{getButtonAction()}}</button>
      </div>
    </form>
  </div>
</div>